.bg-dark-1 {
  background-color: #121212;
}

.overlay-1 {
  background-color: #4bb2f920;
}

.overlay-2 {
  background-color: #3e44485e;
}

.bg-dark-2 {
  background-color: #172026f5;
}

.sidebar {
  width: 32rem;
}

.sidebar-nav {
  background-color: rgba(0, 0, 0, 87);
}

.main-content {
  margin-left: 32rem;
}

.green1 {
  background-color: rgb(37, 44, 37);
}
